<template>
    <div class="home">
        <header class="masthead text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">Rechercher un Film</h1>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input v-model="searchField" v-on:input="searchMovies()"
                                           class="form-control form-control-lg"
                                           placeholder="Recherche...">

                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary"
                                            v-on:click="searchMovies()">Search!
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="card-display" v-on:click="cardDisplay()"><i
                                class="material-icons">table_chart</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="list-display" v-on:click="listDisplay()"><i
                                class="material-icons">list_alt</i></a>
                    </li>
                </ul>
            </div>
            <div v-show="false" id="list-body">
                <h5 v-if="lesFilms[0] === undefined" class="card-title">Vous pouvez recherchez un film à l'aide du champ
                    ci-dessus</h5>
                <table v-else class="table table-bordered mx-auto">
                    <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de sortie</th>
                        <th scope="col">Ajouter à la Filmothèque</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(film, index) in lesFilms" v-bind:key="index">
                        <th scope="row">{{ film.titre }}</th>
                        <td>{{ film.dateFR }}</td>
                        <td v-on:click="ajouterFilm(film.id)"><a href="#"><i class="fas fa-plus text-black-50"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="card-body" class="card-body">
                <h5 v-if="lesFilms[0] === undefined" class="card-title">Vous pouvez recherchez un film à l'aide du champ
                    ci-dessus</h5>
                <FilmVue v-for="(film, index) in lesFilms" v-bind:key="index" v-bind:le-film-id="film.id" v-bind:add="true" class="p-3"></FilmVue>
            </div>
        </div>
    </div>


</template>

<script>
    import bd from 'themoviedb-javascript-library'
    import Film from '../models/Film'
    import ErrorFilm from '../models/ErrorFilm'
    import FilmVue from "../components/Film";

    export default {
        name: 'home',
        components: {
            FilmVue
        },
        data: function () {
            return {
                searchField: null,
                lesFilms: [],
            }
        },

        methods: {
            searchMovies() {
                let vue = this;
                vue.lesFilms = [];

                bd.common.language = this.$store.state.language;
                bd.common.api_key = this.$store.state.api_key;
                bd.search.getMovie({"query": this.searchField, "include_adult": false}, function (data) {
                    data = JSON.parse(data);
                    let lesFilmsJSON = data.results;
                    lesFilmsJSON.forEach(function (element) {
                        if (vue.lesFilms.length < 6)
                            vue.lesFilms.push(new Film(element));
                    });
                }, function (data) {
                    vue.lesFilms = new ErrorFilm(data)
                });
            },
            cardDisplay() {
                if ($('#list-display').hasClass("active")) {
                    $('#list-display').removeClass("active");
                    $('#card-display').addClass("active");
                }

                $('#list-body').hide();
                $('#card-body').show();
            },
            listDisplay() {
                if ($('#card-display').hasClass("active")) {
                    $('#card-display').removeClass("active");
                    $('#list-display').addClass("active");
                }

                $('#card-body').hide();
                $('#list-body').show();
            },

            ajouterFilm(leFilmId) {
                this.$store.commit('addFilmFilmotheque', leFilmId)
            }
        },
        created: function() {
            if (!this.$store.state.authentificate) {
                this.$router.push("login")
            }
        },
    }

</script>

<style>
    html,body { height:100%; }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }

    header.masthead {
        background: url("../assets/search-background.png") no-repeat center center;
        background-size: cover;
    }

    .card-header {
        background-image: url("./../assets/card-header.jpg");
        background-size: contain;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }

    #card-body {
        background-image: url("./../assets/backgroundcard.jpg");
        background-size: auto;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        height: 100%;
    }

    #list-body {
        background-image: url("./../assets/backgroundcard.jpg");
        background-size: auto;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }

    .table {
        margin-top: 3rem;
        background: white;
        width: 70%;
    }
</style>
