<template>
    <div class="login">
        <div class="card-body">
            <h3 id="h3login">L'application nécessite un code pour fonctionner</h3>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <input v-model="loginField"
                           type="password"
                           class="form-control form-control-lg"
                           placeholder="Code">
                    <button type="submit" class="btn btn-block btn-lg btn-primary"
                            v-on:click="login()">Valider !
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                loginField: ''
            }
        },

        methods: {
            login() {
                if (this.loginField === this.$store.state.code) {
                    this.$store.state.authentificate = true;
                    this.$router.push("/")
                } else {
                    alert('Mauvais Code !')
                }
            },

            editCode() {
                this.$store.commit('editCode');
            }
        },

        created() {
            let code = JSON.parse(localStorage.getItem("code"));
            if (code === null || code === undefined || code === '') {
                this.$store.commit('createCode');
                code = JSON.parse(localStorage.getItem("code"));
            }
        }
    }
</script>

<style>
    #h3login {
        padding-top: 375px;
        padding-bottom: 5px;
    }

    .login {
        width: 100%;
        height: 100%;
        background-color: #f8f9fa;
    }

    button {
        margin-top: 5px;
    }
</style>