<template>
    <div class="ma-filmotheque">
        <h1>Binvenue sur votre filmothèque personnalisée</h1>
        <FilmVue v-for="(film, index) in lesFilms" v-bind:key="index" v-bind:le-film-id="film.id" v-bind:delete="true" class="p-3"></FilmVue>
    </div>
</template>

<script>
    import FilmVue from "../components/Film";
    import bd from 'themoviedb-javascript-library'
    import Film from '../models/Film'
    import ErrorFilm from '../models/ErrorFilm'

    export default {
        name: "MaFilmotheque",
        components: {FilmVue},
        data: function () {
            return {
                lesFilms: [],
                testid: 464504
            }
        },
        created: function() {
            if (!this.$store.state.authentificate) {
                this.$router.push("login")
            } else {
                let vue = this;
                let lesFilmsId = JSON.parse(localStorage.getItem("lesFilmsFilmotheque"));

                bd.common.language = this.$store.state.language;
                bd.common.api_key = this.$store.state.api_key;

                lesFilmsId.forEach(function (element) {
                    bd.movies.getById({"id": element}, function (data) {
                        data = JSON.parse(data);
                        vue.lesFilms.push(new Film(data));
                    }, function (data) {
                        data = JSON.parse(data);
                        vue.lesFilms.push(new ErrorFilm(data));
                    });
                });
            }
        },
    }
</script>

<style scoped>
    .ma-filmotheque {
        background-color: #f8f9fa;
    }
</style>