<template>
    <div class="film">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{ leFilm.titre }}
                    <div class="float-right">
                        <a v-on:click="deleteFilm(leFilm.id)" href="/#/ma-filmotheque"><i v-show="this.delete" class="fas fa-ban"></i></a>
                        <a v-on:click="ajouterFilm(leFilm.id)" href="/#/ma-filmotheque"><i v-show="this.add" class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                                <div class="affiche">
                                    <img v-if="leFilm.affiche !== null" v-bind:src="leFilm.affiche"
                                         alt="Affiche du film" class="img-fluid"/>
                                    <img v-else src="./../assets/afficheIndisponible.jpg" alt="Affiche du film"
                                         class="img-fluid"/>
                                </div>
                                <div class="ratings">
                                    <div class="empty-stars"></div>
                                    <div class="full-stars" :style="getPourcentageVoteForCSS()"></div>
                                </div>
                                <div class="nbVote">{{ leFilm.voteNb}} votes</div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h5 v-if="leFilm.tagline !== null" class="card-title">{{ leFilm.tagline }}</h5>
                            <h5 v-else class="card-title">Pas de tagline</h5>
                            <div class="card-text">
                                <a class="btn btn-info" v-on:click="toogleSynopsis">Synopsis</a>
                                <p v-if="leFilm.synopsis !== null" class="synopsis">{{ leFilm.synopsis }}</p>
                                <p v-else class="synopsis">Pas de synopsis</p>
                            </div>
                            <div class="position-absolute w-95">
                                <h3 v-if="leFilm.dateDeSortie !== null" class="text-center">Date de Sortie : {{ leFilm.dateFR }}</h3>
                                <h3 v-else class="text-center">Date de sortie inconnu</h3>
                                <table class="table table-bordered table-hover mx-auto">
                                    <tbody>
                                    <tr>
                                        <td v-for="(genre, index) in leFilm.genres" v-bind:key="index">{{ genre.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import bd from 'themoviedb-javascript-library'
    import Film from './../models/Film.js'
    import ErrorFilm from "../models/ErrorFilm";

    export default {
        name: "film",
        props: {
            leFilmId: null,
            delete: false,
            add: false,
        },
        data: function() {
            return {
                leFilm: null,
            }
        },
        methods: {
            getPourcentageVoteForCSS: function () {
                return "width:" + this.leFilm.voteMoyenne * 100 / 10 + "%";
            },
            toogleSynopsis: function () {
                $(".synopsis").toggle()
            },
            deleteFilm(leFilmId) {
                this.$store.commit("deleteFilmFilmotheque", leFilmId);
                document.location.reload(true);
            },
            ajouterFilm(leFilmId) {
                this.$store.commit('addFilmFilmotheque', leFilmId)
            }
        },
        created: function() {
            var vue = this;
            vue.leFilm = "Erreur";

            bd.common.language = this.$store.state.language;
            bd.common.api_key = this.$store.state.api_key;
            bd.movies.getById({"id": this.leFilmId}, function (data) {
                    data = JSON.parse(data);
                    vue.leFilm = new Film(data);
                }, function (data) {
                    data = JSON.parse(data);
                    vue.leFilm = new ErrorFilm(data);
                }
            );
        }
    }
</script>

<style scoped>
    .ratings {
        padding-top: 10px;
        position: relative;
        display: inline-block;
        color: #b1b1b1;
        overflow: hidden;
        float: left;
    }

    .nbVote {
        padding-top: 10px;
        position: relative;
        display: inline-block;
        float: right;
    }

    .full-stars {
        padding-top: 10px;
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #fde16d;
    }

    .empty-stars:before, .full-stars:before {
        content: "\2605\2605\2605\2605\2605";
        font-size: 14pt;
    }

    .empty-stars:before {
        -webkit-text-stroke: 1px #848484;
    }

    .full-stars:before {
        -webkit-text-stroke: 1px orange;
    }

    /* Webkit-text-stroke is not supported on firefox or IE */

    /* Firefox */
    @-moz-document url-prefix() {
        .full-stars {
            color: #ECBE24;
        }
    }

    .synopsis {
        display: none;
        background-color: #f8f9fa;
        border-left: 4px solid #007bff;
        margin-top: 1rem;
        border-radius: 5px;
    }

    .table {
        margin-top: 1rem;
    }

    .w-95 {
        width: 95%;
        bottom: 0;
    }
</style>