<template>
    <div id="app">
        <div id="nav">
            <nav class="navbar navbar-light bg-light static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Filmothèque</a>
                    <a>
                        <router-link to="/">Rechercher un Film</router-link>
                    </a>
                    <router-link to="/ma-filmotheque"><a class="btn btn-primary" href="#">Ma Filmothèque</a></router-link>
                </div>
            </nav>
        </div>
        <router-view/>
    </div>
</template>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
    }
</style>
